{% extends "layout.html" %}

{% block content %}
<script src="{{url_for('static', filename="tinymce/js/tinymce/tinymce.min.js")}}"></script>
<script>
        /*tinymce.init({selector:'textarea'});*/
        tinymce.init({
            selector : 'textarea.snippet',
            force_br_newlines : false,
            force_p_newlines : false,
            forced_root_block : 'div'
            
        });
</script>
    {% if session.email %}
    <h2>New Snippet</h2>
    <form action="{{ url_for('newsnip') }}" method=post>
        {{ form.hidden_tag() }}

        {% for message in form.title.errors %}
            <div class="flash"><h1 class="flash">{{ message }}</h1></div>
        {% endfor %}
        {{ form.title.label }}
        {{ form.title }}

        {% for message in form.desc.errors %}
            <div class="flash"><h1 class="flash">{{ message }}</h1></div>
        {% endfor %}
        {{ form.desc.label }}
        {{ form.desc }}

        {% for message in form.snippet.errors %}
            <div class="flash"><h1 class="flash">{{ message }}</h1></div>
        {% endfor %}
        {{ form.snippet.label }}
        {{ form.snippet (class="snippet")}}
        <a class="btn" href="javascript:;" onclick="tinymce.execCommand('mceToggleEditor', false, 'snippet');">Toggle Editor</a>

        {{ form.category.label }}
        {{ form.category }}

        {{ form.language.label }}
        {{ form.language }}

        {{ form.submit }}
    </form>
    {% else %}
    <h1>You do not have permission to access this area.</h1>
    {% endif %}
{% endblock %}
